/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: #FFFFFF;
}

.titulo {
  text-align: center;
  display: flex !important;
  height: 48px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 4px;
  background: #8b0eaa;
  color: white;
}

mat-form-field {
  mat-icon {
    font-size: 18px !important;
    color: #757575 !important;
  }
}

.btn-container {
  display: inline-flex !important;
  align-items: flex-end !important;
  border-radius: 4px !important;
  padding: 2px 16px !important;

  i {
    font-size: 16px !important;
    margin-right: 4px !important;
    display: inline-flex !important;
    align-items: flex-start !important;
  }

  mat-icon {
    font-size: 18px !important;
    display: inline-flex !important;
    align-items: flex-start !important;
    margin-top: 5px !important;
  }
}

table {
  text-align: justify;
  margin: auto;
  width: 100%;
}

td {
  text-align: left;
}

.header-table {
  background-color: #8b0eaa ;
  color: white;
  text-align: left;
  font-size: 14px;
}

.start {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.end {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.botonesAccion {
  height: 30px;
  width: 34px;
  margin-left: 5px;
}

.botones {
  color: white;
  background-color: #8b0eaa;
}

.tamaño-file {
  width: 20px;
}

.margen-input-file {
  margin-bottom: 18px;

  label {
    color: #000000;
  }
}
