.titulo{
    text-align: center; 
    background: #8b0eaa; 
    color: white; 
    height: 80px; 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0%;
}

.rechazada2 {
    color: rgb(3, 0, 0);
    font-weight: bold;
    background-color: #eee01f;
    
  }

  .margenBotones2 {
    margin-left: 88%;
}