.titulo{
    text-align: center; 
    background: #8b0eaa; 
    color: white; 
    height: 80px; 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0%;
}

.margenArriba {
    margin: 3%;
}

.tamanio{
    width: 100%;
}

.tamanioTextArea{
    height: 100px;
}

.botones{
    margin-left: 2%;
    color: white;
    background-color: #8b0eaa;
}

.margenBotones {
    margin-left: 2%;
}

::ng-deep .cdk-overlay-container{
    z-index: 1200 !important;
}

.rechazada2 {
    color: rgb(3, 0, 0);
    font-weight: bold;
    background-color: #eee01f;
    
  }

  .margenBotones2 {
    margin-left: 60%;
}

.botones3{
    margin-left: 2%;
    color: white;
    background-color: #db0f9e;
}