<body>
    <div class="card-body">
        <mat-card-title class="titulo">Mantenimiento de Solicitudes</mat-card-title>

        <mat-tab-group>
            <mat-tab label="Busqueda solicitudes"> 
                <mat-card class="margenArriba">
                    <div class="container">
                        <div > <!--*ngIf="mostrarTabla === true"-->
                            <div class="mat-elevation-z8 mt-2">
                                <table mat-table [dataSource]="dataSource" id="tablaDatos">
                                    <!-- Columna codigo solicitud -->
                                    <ng-container matColumnDef="codigo_solicitud">
                                        <th mat-header-cell *matHeaderCellDef class="header-table">Codigo solicitud</th>
                                        <td mat-cell *matCellDef="let dato" [class]="fueRechazado(dato) ? 'rechazada' : ''"> {{dato.codigo_solicitud}} </td>
                                    </ng-container>
    
                                    <!-- Columna Numero soporte-->
                                    <ng-container matColumnDef="no_soporte">
                                        <th mat-header-cell *matHeaderCellDef class="header-table">Numero Soporte </th>
                                        <td mat-cell *matCellDef="let dato" [class]="fueRechazado(dato) ? 'rechazada' : ''"> {{dato.no_soporte}} </td>
                                    </ng-container>
    
                                     <!-- Columna NIT-->
                                     <ng-container matColumnDef="nit">
                                        <th mat-header-cell *matHeaderCellDef class="header-table">NIT </th>
                                        <td mat-cell *matCellDef="let dato" [class]="fueRechazado(dato) ? 'rechazada' : ''"> {{dato.nit}} </td>
                                    </ng-container>
                
                                    <!-- Columna Numero expediente-->
                                    <ng-container matColumnDef="no_expediente">
                                        <th mat-header-cell *matHeaderCellDef class="header-table">Numero Expediente </th>
                                        <td mat-cell *matCellDef="let dato" [class]="fueRechazado(dato) ? 'rechazada' : ''"> {{dato.no_expediente}} </td>
                                    </ng-container>
                
                                    
                
                                    <!-- Columna tipo solicitud-->
                                    <ng-container matColumnDef="tipo_solicitud">
                                        <th mat-header-cell *matHeaderCellDef class="header-table">Tipo de Solicitud </th>
                                        <td mat-cell *matCellDef="let dato" [class]="fueRechazado(dato) ? 'rechazada' : ''"> {{dato.tipo_solicitud}} </td>
                                    </ng-container>
                
                                    <!-- Columna Usuario-->
                                    <ng-container matColumnDef="usuario">
                                        <th mat-header-cell *matHeaderCellDef class="header-table">Usuario asignacion </th>
                                        <td mat-cell *matCellDef="let dato" [class]="fueRechazado(dato) ? 'rechazada' : ''"> {{dato.usuario}} </td>
                                    </ng-container>
                
                                    <!-- Columna Estado-->
                                    <ng-container matColumnDef="estado">
                                        <th mat-header-cell *matHeaderCellDef class="header-table">Estado solicitud </th>
                                        <td mat-cell *matCellDef="let dato" [class]="fueRechazado(dato) ? 'rechazada' : ''"> {{dato.estado}} </td>
                                    </ng-container>
                
                                    <!-- Columna Fecha creacion-->
                                    <ng-container matColumnDef="fecha_creacion">
                                        <th mat-header-cell *matHeaderCellDef class="header-table">Fecha creacion </th>
                                        <td mat-cell *matCellDef="let dato" [class]="fueRechazado(dato) ? 'rechazada' : ''"> {{dato.fecha_creacion}} </td>
                                    </ng-container>
                
                                    <!-- Columna Cantidad de muestras-->
                                    <ng-container matColumnDef="cantidad_de_muestras">
                                        <th mat-header-cell *matHeaderCellDef class="header-table">Cantidad de muestras </th>
                                        <td mat-cell *matCellDef="let dato" [class]="fueRechazado(dato) ? 'rechazada' : ''"> {{dato.cantidad_de_muestras}} </td>
                                    </ng-container>
                
                                    <!-- Columna dias_de_items-->
                                    <ng-container matColumnDef="dias_de_items">
                                        <th mat-header-cell *matHeaderCellDef class="header-table">Cantidad de items </th>
                                        <td mat-cell *matCellDef="let dato" [class]="fueRechazado(dato) ? 'rechazada' : ''"> {{dato.dias_de_items}} </td>
                                    </ng-container>
                
                                    <!-- Columna Cantidad documentos-->
                                    <ng-container matColumnDef="documentos">
                                        <th mat-header-cell *matHeaderCellDef class="header-table">Cantidad de documentos</th>
                                        <td mat-cell *matCellDef="let dato" [class]="fueRechazado(dato) ? 'rechazada' : ''"> {{dato.dias_de_items}} </td>
                                    </ng-container>
                
                                    <!-- Columna dias vencimiento-->
                                    <ng-container matColumnDef="dias_vencimiento">
                                        <th mat-header-cell *matHeaderCellDef class="header-table">Dias de vencimiento </th>
                                        <td mat-cell *matCellDef="let dato" [class]="fueRechazado(dato) ? 'rechazada' : ''"> {{dato.dias_vencimiento}} </td>
                                    </ng-container>
                
                                    <form [formGroup]="accionesFormGroup">
                                        <!-- Columna Accion-->
                                        <ng-container matColumnDef="accion">
                                            <th mat-header-cell *matHeaderCellDef class="header-table">Accion</th>
                                            <td mat-cell *matCellDef="let dato"> 
                                                <mat-form-field appearance="fill" >
                                                    <mat-label>Seleccione una opcion</mat-label>
                                                    <mat-select (ngModelChange)="ejecutarAccion(dato)" formControlName="opcionFormControl"> 
                                                    <mat-option *ngFor="let opcion of acciones" [value]="opcion.value">
                                                        {{opcion.viewValue}}
                                                    </mat-option>
                                                    <mat-option *ngIf="dato.codigo_estado === 15" [value]="'12'">
                                                        Finalizar
                                                    </mat-option>
                                                    <!--mat-option *ngIf="dato.codigo_estado === 9" [value]="'11'">
                                                        Asignado
                                                    </mat-option-->
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                        </ng-container>
                                    </form>
                                    
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                        <hr>
                        <div class="col-12">
                            <form [formGroup]="filtrosFormGroup">
                                <div class="row">
                                    <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
                                        <mat-label>Codigo Solicitud</mat-label>
                                        <input matInput #codSolicitud placeholder="9999-88-77-66-5555555" maxlength="24" formControlName="codigoSolicitudFormControl" (change)="validarCodigoSolicitud()">
                                    </mat-form-field>
                                    <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
                                        <mat-label>No. Expediente</mat-label>
                                        <input matInput #codigoSolicitud placeholder="9999-88-77-66-5555555" maxlength="24" formControlName="noExpedienteFormControl" (change)="validarNoExpediente()">
                                    </mat-form-field>
                                    <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
                                        <mat-label>No. Soporte</mat-label>
                                        <input matInput #codigoSolicitud formControlName="noSoporteFormControl" maxlength="50" (change)="validarNoSoporte()">
                                    </mat-form-field>
                                
                                    <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
                                        <mat-label>Usuario Asignacion</mat-label>
                                        <input matInput #codigoSolicitud placeholder="9999-88-77-66-5555555" maxlength="12" formControlName="usuarioAsignacionFormControl" (change)="validarUsuarioAsignacion()">
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="col-lg-6 col-md-6 col-sm-12">
                                        <mat-label>Fecha De</mat-label>
                                        <input matInput [matDatepicker]="fechaDe" formControlName="fechaDeFormControl" readonly (ngModelChange)="validarFechaInicio()">
                                        <mat-datepicker-toggle matSuffix [for]="fechaDe"></mat-datepicker-toggle>
                                        <mat-datepicker #fechaDe></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="col-lg-6 col-md-6 col-sm-12">
                                        <mat-label>Fecha Hasta</mat-label>
                                        <input matInput [matDatepicker]="fechaHasta" formControlName="fechaHastaFormControl" readonly (ngModelChange)="validarFechaFin()">
                                        <mat-datepicker-toggle matSuffix [for]="fechaHasta"></mat-datepicker-toggle>
                                        <mat-datepicker #fechaHasta></mat-datepicker>
                                      </mat-form-field>
                                    <mat-form-field appearance="fill" class="col-lg-6 col-md-6 col-sm-12">
                                        <mat-label>Tipo Solicitud</mat-label>
                                        <mat-select formControlName="tipoSolicitudFormControl">
                                          <mat-option *ngFor="let opcion of tipoSolicitud" [value]="opcion.codigo_dato_catalogo">
                                            {{opcion.nombre}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="col-lg-6 col-md-6 col-sm-12">
                                        <mat-label>Estado Solicitud</mat-label>
                                        <mat-select formControlName="estadoSolicitudFormControl">
                                          <mat-option *ngFor="let opcion of estados" [value]="opcion.codigo_dato_catalogo">
                                            {{opcion.nombre}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
                                        <mat-label>NIT</mat-label>
                                        <input matInput #codigoSolicitud placeholder="9999-88-77-66-5555555" maxlength="24" formControlName="nitFormControl">
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                       <br> 
                    </div>
                   

                    <br>
                    <div class="col-12">
                        <button mat-raised-button class="rechazada2" type="button" (click)="cerrarSesion()">Cerrar Sesion</button>
                        <button mat-raised-button class="botones margenBotones2" type="button" (click)="crearSolicitud()">Crear Solicitud</button>
                        <button mat-raised-button class="botones6 margenBotones" type="button" (click)="realizarBusqueda()">Buscar Solicitud</button>
                        <button mat-raised-button class="botones margenBotones" type="button" (click)="limpiarCampos()">Limpiar filtro</button>
                        <button mat-raised-button class="botones6 margenBotones" type="button" (click)="muestras()">Muestras</button>
                    </div>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </div> 
</body>


