<div class="card-body">
    
    <mat-card class="margenArriba">
        <mat-card-title class="titulo">Laboratorio Médico La Bendición</mat-card-title>
        <div class="m-0 row justify-content-center">
            <form [formGroup]="datosFormGroup">
                <div class="col-auto text-center">
                    <br>
                    <mat-form-field >
                        <mat-label>Name User</mat-label>
                        <input matInput placeholder=""  formControlName="loginFormControl" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col-auto text-center">
                    <mat-form-field >
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder=""  formControlName="passFormControl">
                    </mat-form-field>
                </div>
                <div class="col-auto text-center">
                    <button mat-raised-button class="botones margenBotones" type="button" (click)="iniciarSesion()" [disabled]="datosFormGroup.invalid">Login</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>