<div class="card-body">
    <mat-card-title class="titulo">Creacion de Muestra</mat-card-title>

    <mat-card class="margenArriba">
        <div class="col-12">
            <button mat-raised-button class="rechazada2 margenBotones2" type="button" (click)="regresarAMantenimientoSolicitudes()">Regresar</button>
        </div>
        <br><br>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <!--Informacion creacion solicitud -->
             <mat-step [stepControl]="crearMuestraFormGroup">
                <form [formGroup]="crearMuestraFormGroup">
                           <ng-template matStepLabel>Creacion de Muestra</ng-template>
                     <div class="container">
                        <!--Inicia primer row -->
                        <div class="row">
                                <!--Desplegable tipo muestra-->
                            <mat-form-field appearance="fill" class="col-lg-8 col-md-8 col-sm-12">
                                <mat-label>Tipo Muestra</mat-label>
                                <mat-select formControlName= "tipoMuestraFormControl" (ngModelChange)="calcularFechaVencimiento()">
                                     <mat-option *ngFor="let opcion of listaTipoMuestra" [value]="opcion.codigo_dato_catalogo">
                                    {{opcion.nombre}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                               
                                <!--Desplegable unidad de medida -->
                            <mat-form-field appearance="fill" class="col-lg-8 col-md-8 col-sm-12">
                                <mat-label>Unidad de medida</mat-label>
                                <mat-select formControlName="cantidadMuestraFormControl">
                                  <mat-option *ngFor="let opcion of listaUnidadDeMedida" [value]="opcion.codigo_dato_catalogo">
                                    {{opcion.nombre}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                             <!--campo para rellenar cantidad unidades -->
                            <mat-form-field class="col-lg-8 col-md-8 col-sm-12">
                                <mat-label>Cantidad Unidades</mat-label>
                             <input matInput #noExpediente placeholder="1234" maxlength="4" formControlName="cantidadFormControl">
                                <mat-hint align="end">{{noExpediente.value.length}} / 4</mat-hint>
                            </mat-form-field>
                        </div>
                        <!--Inicia segundo Row -->
                        <div class="row"> 
                            <mat-form-field class="col-lg-12 col-md-12 col-sm-12">
                                <mat-label>Presentacion</mat-label>
                                <textarea matInput #descripcion
                                formControlName="PresentacionFormControl" class="tamanioTextArea"
                                    maxlength="2000"></textarea>
                                <mat-hint align="end">{{descripcion.value.length}} / 2000</mat-hint>
                            </mat-form-field>   
                                <!--Espacio para adjuntar archivo--> 
                            <div>
                                <mat-label>Adjuntar Archivo</mat-label>
                                <input type="file" name="archivoSubido" formControlName="archivoMuestraFormControl" (change)="fileSelected($event)">
                            </div>
                        </div>
                        <!--Botones -->
                        <div class="modal-footer">
                                                   
                           <button mat-raised-button matStepperNext class="botones3 margenBotones" type="button"
                           [disabled]="crearMuestraFormGroup.invalid" (click)="guardarDatos()">Crear</button>
                        </div>

                                
                            
                     </div>
                 </form>
            </mat-step>
             
        </mat-horizontal-stepper>
    </mat-card>
</div>



